@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cm-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
  background-color: #2E2E2E;
}

.cm-activeLine {
  background-color: #3C3C3C; /* Ensure the text is readable on this background */
  color: #FFFFFF; /* Light text for better contrast */
}

.cm-editor {
  background-color: #1E1E1E; /* Ensure sufficient contrast */
  color: #FFFFFF; /* Light text */
}